.slider {
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 180px;
}

.container {
	display: flex;
	flex-direction: row;
	animation: slider 13s infinite cubic-bezier(0.9, 0.01, 0.3, 0.9);
}

@keyframes slider {
	0% {
		transform: translateX(0%);
	}
	20% {
		transform: translateX(-100%);
	}
	40% {
		transform: translateX(-200%);
	}
	60% {
		transform: translateX(-300%);
	}
}
